/* 반응형 CSS 속성 변경 시 애니메이션 적용 속성 */
body * {transition: all 0.5s;} /* 반응형 크기 조절 시 부드러운 모션 */
/* 1행=====================================북극곰 후원 안내 */
#wrap {} /* 기본값 유지를 위해 작성하지않음 너비는 부모의 100% 높이는 자식만큼 */
#wrap .intro {
    height: 100vh;
    background: url(../images/bg1.png) no-repeat center / cover; 
    position: relative;
    z-index: 10;
}
#wrap .intro::before {
    content:'';
    display: block;
    height: 100%; width: 100%;
    position: absolute; left: 0; top: 0;
    background:linear-gradient(360deg, #000,transparent);
    z-index: 15;
}
#wrap .intro .container {
    position: relative;
    margin: 0 auto; /* 디바이스 크기보다 width가 작은 블록 요소를 가운데 배치하는 방법*/
    left:0; top:100px; z-index: 20; /*형제-형제 margin , 부모-자식 padding */
    max-width: 1250px;
    min-width: 320px;
    /* 자식,자손이 인라인일 경우 수평정렬 text-align */
    text-align: center;
    overflow: hidden;
    /* 자식의 float 적용으로 인해 부모바깥으로 나가는 문제 해결 */
}
#wrap .intro .container h1:nth-child(1) {
    text-align: left;
    margin-bottom: 100px;
}
#wrap .intro .container h1:nth-child(1) a {
}
#wrap .intro .container h1:nth-child(1) a img {
    width: 89px;
}
#wrap .intro .container h1:nth-child(2) {
    color: #fff;
    font-size: 4.375rem;
    line-height: 1.3;
}
#wrap .intro .container h1:nth-child(2) em {
    color: #fff;
    font-weight: 700;
}
#wrap .intro .container .sponsor_btn {
    display:block;
    margin: 100px auto;
    width: 409px; height: 71px; color: #fff;
    background: linear-gradient(90deg,#FE9300,#FF7300);
    border-radius: 50px;
    font-size: 2.125rem;
    font-weight: 700;
    line-height: 71px; /* 수직중앙 배치해야하는 글자가 1줄일 경우 height 생략가능 line-height만 px값으로 적용 */
}
#wrap .intro .container .sponsor_question {
    float: right;
    color: #fff;
    background: #000;
    border-radius: 50px;
    width: 439px;
    height: 51px;
    line-height: 50px;
    font-size: 1.625rem;
}
/* 2행=====================================퀴즈 */
#wrap .quiz {
    background:url(../images/quiz_bg.png) center / cover; /* 배경이미지 꽉 채울때 center / cover 단골로 쓰기 */
}
#wrap .quiz .container {
    max-width: 1250px; 
    min-width: 320px;
    margin: 0 auto;
    border: 1px solid aqua;
    display: grid; /* 왼쪽 퀴즈, 오른쪽 참여현황 정렬 grid */
    grid-template-columns: 1fr 1fr;
    padding: 150px 0;
}
#wrap .quiz .container #left_quiz {}
#wrap .quiz .container #left_quiz * {
    color: #fff;
}
#wrap .quiz .container #left_quiz h2 {
    text-align: center;
    font-size: 3.438rem;
    font-weight: 500;
    margin-bottom: 38px;
}
#wrap .quiz .container #left_quiz h3 {
    font-size: 1.25rem;
    margin-bottom: 13px;
}
#wrap .quiz .container #left_quiz .list {
    display: grid;
    grid-template-rows: repeat(4, 34px);
    margin: 8px 0 37.83px;
}
#wrap .quiz .container #left_quiz .list label {
/*     display: block; */
}
#wrap .quiz .container #left_quiz .list label input[value*=q] {
    display: none;
} /* <<<<<속성선택자 QQQQ */
#wrap .quiz .container #left_quiz .list label input[value*=q]:checked + span {
    background-image: url(../images/chk_on.png);
}
#wrap .quiz .container #left_quiz .list label span {
    background-image: url(../images/chk_off.png);
    background-repeat: no-repeat;
    display: block;
    line-height: 34px;
    padding-left: 48px;
    background-position-y:5px;
}
#wrap .quiz .container #left_quiz #answer_btn {
    background: #050505;
    width: 100%;
    height: 54px; 
    border-radius: 50px;
}
#wrap .quiz .container .right {
    text-align: right;
    padding-top: 69px;
}
#wrap .quiz .container .right p:nth-child(1) {
    text-align: center; /* 인라인태그라서 이렇게 정렬 */
}
#wrap .quiz .container .right p:nth-child(1) img {
    width: 90%;
}
#wrap .quiz .container .right p:nth-child(2) {
    color: #fff;
    margin-top: 20px;
    text-align: center; 
}
/* 3행=====================================새끼북극곰 이야기 */
    #wrap .ad {
        text-align: center;
        background: url(../images/video_bg.png) right / cover;
        padding: 200px 0;
    }
    #wrap .ad .container {
        max-width: 1250px; 
        min-width: 320px;
        height: 943px;
        margin: 0 auto;
        }
    #wrap .ad .container h1 {
        font-size: 3.125rem;
        font-weight: 500;
        margin-bottom: 70px;
    }
    #wrap .ad .container iframe { /* 소스코드 붙여올때 있는 기본값은 지워도 무관 */
        margin-bottom: 70px;
        width: 100%; /* 아이프레임 영상은 한번 더 설정하면 된다 */
        max-width: 900px;
        height: 600px;
    }
    #wrap .ad .container a {
        display:block;
        width: 409px;
        height: 71px;
        background: linear-gradient(90deg,#FE9300,#FF7300);
        border-radius: 50px;
        line-height: 71px;
        color: #fff;
        font-size: 2.125rem;
        margin: 0 auto;
    }

/* 4행=====================================빙하면적감소 */
#wrap .reduction {
    background-image: url(../images/50_bg.png);
    background-size: cover;
    background-position: center;
    text-align: center;
}
#wrap .reduction .container {
    border: 1px solid aqua;
    width: 1250px;
    margin:0 auto;
}
#wrap .reduction .container h2 {}
#wrap .reduction .container h2 em {}
#wrap .reduction .container p {}
#wrap .reduction .container p img {
}
/* 5행=====================================인류재앙 */
#wrap .disaster {
    background:#F5F5F5;
    padding:200px 0; /* margin 0 auto로 가운데로 옮길꺼니까 좌우값은 XXX */
}
#wrap .disaster .container {   
    border: 1px solid red;
    max-width: 1250px; min-width:320px;
    /* 최소 320 ~ 최대 1250 사이 너비값은 가변형 세팅 */
    /* (위) 큰 범위값 세팅 후 @media 규칙 내에서 태블릿 , 모바일에 맞는 레이아웃 재수정하며 반응형 제작 */
    margin:0 auto;
}
#wrap .disaster .container h2 {
    font-size: 3.438rem;
}
#wrap .disaster .container > p {
    font-size: 1.25rem;
    margin: 55px 0;
}
#wrap .disaster .container .list {
    display: flex; 
    gap:20px; /* 사이 여백 */
    /* 옆으로 배열하려고 */
}
#wrap .disaster .container .list li {
    background: #fff;
    flex: 1;
}
#wrap .disaster .container .list li .bg {
    height: 320px;
    background-size: cover;
    background-position: 0 70%;
    position: relative;
    text-align: center;
}
#wrap .disaster .container .list li .bg::before {  
    content:'';
    display: block;
    position: absolute; /* (위)content~height 속성까지 before 또는 after 가상요소 사용 시 필수속성 모음*/
    left: 0;
    top:0;
    width:100%;
    height:100%;
    background:linear-gradient(#000 10%, transparent 60%);
    z-index: 50;
}
#wrap .disaster .container .list li .bg h3 {
    color: #fff; 
    position: relative; /* 현재 위치에서 작성해야해서 relative */
    z-index: 60; /* z-index 속성은 position 속성이 선행되어야만 사용할수있는 중첩순서이다. */
    font-size: 2.688rem;
    font-weight: 500;
    padding-top: 48px;
    margin-bottom: 11px;
}
#wrap .disaster .container .list li .bg p {
    color: #fff; 
    position: relative;
    z-index: 60;
    font-size: 1.25rem;
}
#wrap .disaster .container .list li > p {
    height: 250px;
    font-size: 1.25rem;
    padding:20px 20px;
    line-height: 1.7;
}
/* 5행 개별 배경 선택자 */
#wrap .disaster .container .list li:nth-of-type(1) .bg {
    background-image: url(../images/28.png);
} /* 수열선택은 형제한테 줘야함 고로 div bg XXX (접었을때 태그 뭐가 많이 보임 그건형제 아님 주의)*/
#wrap .disaster .container .list li:nth-of-type(2) .bg {
    background-image: url(../images/27.png);
}
#wrap .disaster .container .list li:nth-of-type(3) .bg {
    background-image: url(../images/wwf.jpg);
}
/* 6행=====================================지구위기 */
/* 7행=====================================WWF단체홍보 */
/* 8행=====================================다양한활동 */
/* 9행=====================================감사선물 */
/* 10행=====================================결재 안내사항 */
